<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% block add_link %}{% endblock %}
</head>
  <body>
	<div class="header">
		<h1>{% block h1 %}{% endblock %}</h1>
	</div>
	<div class="wrapper">
		<div class="aside">
			<div class="menu">
				<ul>
					<li><a href="/" id="main_menu">Визитка</a></li>
					<li><a href="/my_work/">Работа</a></li>
                    <li><a href="/my_studies/">Учёба</a></li>
				</ul>
			</div>
		</div>
        {% block content %}{% endblock %}
	</div>
	<div class="clear"></div>
	<div class="footer">
		<p>Designed by Vasilii Moskvin <a href="mailto:{{my_email}}">{{my_email}}</a></p>
	</div>
  </body>
</html>