{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    My works
{% endblock %}
{% block add_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_work.css' %}">
{% endblock %}
{% block h1 %}Работа{% endblock %}
{% block content %}
		<div class="content">
			{% for work in works %}
			<div class="my_work">
				<div class="logo">
					<a href="{{work.e_address}}">
						<img width="240" height="240"
							 src="{{work.logo}}"
							 alt = {{work.logo_alt}}>
					</a>
				</div>
				<div class="inf_about_work">
				    <table>
				    	<tr>
							<td>Название</td>
							<td>{{work.name}}</td>
				    	</tr>
						<tr>
							<td>Адрес</td>
							<td>{{work.address}}</td>
				    	</tr>
						<tr>
							<td>Должность</td>
							<td>{{work.post}}</td>
				    	</tr>
						<tr>
							<td>Начало работы</td>
							<td>{{work.work_from}}</td>
				    	</tr>
						<tr>
							<td>Конец работы</td>
							<td>{{work.work_to}}</td>
				    	</tr>
				    </table>
				</div>
			</div>
			{% endfor %}
		</div>
{% endblock %}